body {
  background-color: #090A0E;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

.hero{
  position: relative;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.hero-title {
  font-size: 65px;
  margin: 0;
}

.hero-overview{
  font-size: small;
}

.hero-button {
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
}

.hero-button_close{
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 30px;
}

.youtube-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.max-center{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.movie-list {
  margin: 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.movie-card .movie-cover {
  width: 100%;
}
